In [1]:
from contrans import contrans
import numpy as np
import pandas as pd
import dotenv
import os
import json
import requests 
dotenv.load_dotenv()
congresskey = os.getenv('congresskey')

In [2]:
ct = contrans()

In [3]:
members_df = ct.get_bioguideIDs()

In [4]:
members_df

,bioguideId,district,name,partyName,state,updateDate,url,terms.item,depiction.attribution,depiction.imageUrl
0,M001229,10.0,"McIver, LaMonica",Democratic,New Jersey,2024-09-24T20:50:13Z,https://api.congress.gov/v3/member/M001229?for...,"[{'chamber': 'House of Representatives', 'star...",NaN,NaN
1,E000236,NaN,"Evans, Daniel J.",Republican,Washington,2024-09-23T14:08:49Z,https://api.congress.gov/v3/member/E000236?for...,"[{'chamber': 'Senate', 'endYear': 1989, 'start...","<a href=""http://www.senate.gov/artandhistory/h...",https://www.congress.gov/img/member/e000236_20...
2,S000068,NaN,"Sasser, Jim",Democratic,Tennessee,2024-09-12T19:33:39Z,https://api.congress.gov/v3/member/S000068?for...,"[{'chamber': 'Senate', 'endYear': 1995, 'start...","<a href=""http://www.senate.gov/artandhistory/h...",https://www.congress.gov/img/member/s000068_20...
3,H001097,NaN,"Helmy, George S.",Democratic,New Jersey,2024-09-12T12:42:19Z,https://api.congress.gov/v3/member/H001097?for...,"[{'chamber': 'Senate', 'startYear': 2024}]",NaN,NaN
4,R000599,25.0,"Ruiz, Raul",Democratic,California,2024-09-11T16:29:00Z,https://api.congress.gov/v3/member/R000599?for...,"[{'chamber': 'House of Representatives', 'star...",Image courtesy of the Member,https://www.congress.gov/img/member/66e1aec832...
...,...,...,...,...,...,...,...,...,...,...
19,F000229,6.0,"Flynt, John J., Jr.",Democratic,Georgia,2022-12-16T21:56:51Z,https://api.congress.gov/v3/member/F000229?for...,"[{'chamber': 'House of Representatives', 'endY...",Collection of the U.S. House of Representatives,https://www.congress.gov/img/member/f000229_20...
20,F000218,7.0,"Flowers, Walter",Democratic,Alabama,2022-12-16T21:56:51Z,https://api.congress.gov/v3/member/F000218?for...,"[{'chamber': 'House of Representatives', 'endY...",Collection of the U.S. House of Representatives,https://www.congress.gov/img/member/f000218_20...
21,F000215,1.0,"Florio, James J.",Democratic,New Jersey,2022-12-16T21:56:51Z,https://api.congress.gov/v3/member/F000215?for...,"[{'chamber': 'House of Representatives', 'endY...",Collection of the U.S. House of Representatives,https://www.congress.gov/img/member/f000215_20...
22,F000209,11.0,"Flood, Daniel J.",Democratic,Pennsylvania,2022-12-16T21:56:51Z,https://api.congress.gov/v3/member/F000209?for...,"[{'chamber': 'House of Representatives', 'endY...",Collection of the U.S. House of Representatives,https://www.congress.gov/img/member/f000209_20...
23,F000208,5.0,"Flippo, Ronnie G.",Democratic,Alabama,2022-12-16T21:56:51Z,https://api.congress.gov/v3/member/F000208?for...,"[{'chamber': 'House of Representatives', 'endY...",Collection of the U.S. House of Representatives,https://www.congress.gov/img/member/f000208_20...

In [9]:
votes = ct.get_votes()
votes

        congress chamber  rollnumber  icpsr  cast_code   prob
0            118   House           1  14854          6  100.0
1            118   House           1  14863          6   98.2
2            118   House           1  14873          1  100.0
3            118   House           1  15029          1  100.0
4            118   House           1  15433          1  100.0
...          ...     ...         ...    ...        ...    ...
544855       118  Senate         582  42305          1   99.7
544856       118  Senate         582  49308          1   91.5
544857       118  Senate         582  49703          6   94.6
544858       118  Senate         582  90915          6   68.8
544859       118  Senate         582  91300          1   96.8

[544860 rows x 6 columns]

In [10]:
house = house[['rollnumber','icpsr', 'cast_code']]

In [24]:
house_mat = pd.merge(house, house, on='rollnumber')
house_mat

           rollnumber  icpsr_x  cast_code_x  icpsr_y  cast_code_y
0                   1    14854            6    14854            6
1                   1    14854            6    14863            6
2                   1    14854            6    14873            1
3                   1    14854            6    15029            1
4                   1    14854            6    15433            1
...               ...      ...          ...      ...          ...
211856531        1118    91980            1    31101            6
211856532        1118    91980            1    31102            9
211856533        1118    91980            1    39301            6
211856534        1118    91980            1    39307            6
211856535        1118    91980            1    91980            1

[211856536 rows x 5 columns]

In [25]:

house_mat['agree'] = house_mat['cast_code_x'] == house_mat['cast_code_y']
house_mat = house_mat.groupby(['icpsr_x', 'icpsr_y']).agg({'agree':'mean'})
house_mat = house_mat.reset_index()
house_mat

        icpsr_x  icpsr_y     agree
0         14854    14854  1.000000
1         14854    14863  0.830948
2         14854    14873  0.386404
3         14854    15029  0.412343
4         14854    15433  0.366726
...         ...      ...       ...
200607    91980    31102  0.731664
200608    91980    31103  0.190805
200609    91980    39301  0.236136
200610    91980    39307  0.239714
200611    91980    91980  1.000000

[200612 rows x 3 columns]

In [17]:
agreement = pd.merge(house_mat, members,
                     left_on = 'icpsr_x',
                     right_on = 'icpsr')
agreement = agreement.rename({'bioname':'member1',
                              'party_code':'party1'}, axis=1)
agreement = agreement.drop(['icpsr_x'], axis=1)
agreement = pd.merge(agreement, members,
                     left_on = 'icpsr_y',
                     right_on = 'icpsr')
agreement = agreement.rename({'bioname':'member2',
                              'party_code':'party2'}, axis=1)
agreement = agreement[['member1', 'party1', 'member2', 'party2', 'agree']]
agreement

,member1,party1,member2,party2,agree
0,"ROGERS, Harold Dallas (Hal)",200,"ROGERS, Harold Dallas (Hal)",200,1.000000
1,"ROGERS, Harold Dallas (Hal)",200,"SMITH, Christopher Henry",200,0.830948
2,"ROGERS, Harold Dallas (Hal)",200,"HOYER, Steny Hamilton",100,0.386404
3,"ROGERS, Harold Dallas (Hal)",200,"KAPTUR, Marcia Carolyn (Marcy)",100,0.412343
4,"ROGERS, Harold Dallas (Hal)",200,"MFUME, Kweisi",100,0.366726
...,...,...,...,...,...
200607,"VAN DREW, Jefferson",200,"MASSIE, Thomas",200,0.731664
200608,"VAN DREW, Jefferson",200,"PAYNE, Donald, Jr.",100,0.190805
200609,"VAN DREW, Jefferson",200,"CLYBURN, James Enos",100,0.236136
200610,"VAN DREW, Jefferson",200,"SCOTT, Robert C.",100,0.239714
200611,"VAN DREW, Jefferson",200,"VAN DREW, Jefferson",200,1.000000

In [23]:
agreement[agreement['member1'].str.contains('GOOD,')].sort_values('agree',  ascending=False).head(30)

          member1  party1                     member2  party2     agree
129269  GOOD, Bob     200                   GOOD, Bob     200  1.000000
129324  GOOD, Bob     200                  CRANE, Eli     200  0.944544
129147  GOOD, Bob     200            BIGGS, Andrew S.     200  0.941860
129292  GOOD, Bob     200  ROSENDALE, Matthew M., Sr.     200  0.937388
129187  GOOD, Bob     200           BURCHETT, Timothy     200  0.929338
129316  GOOD, Bob     200              BRECHEEN, Josh     200  0.918605
129178  GOOD, Bob     200              CLOUD, Michael     200  0.913238
129189  GOOD, Bob     200             CLINE, Benjamin     200  0.912343
129174  GOOD, Bob     200               NORMAN, Ralph     200  0.911449
129094  GOOD, Bob     200                PERRY, Scott     200  0.910555
129285  GOOD, Bob     200                MOORE, Barry     200  0.909660
129225  GOOD, Bob     200                ROY, Charles     200  0.906082
129323  GOOD, Bob     200               COLLINS, Mike     200  0.904293
129271  GOOD, Bob     200          HARSHBARGER, Diana     200  0.900716
129318  GOOD, Bob     200              BURLISON, Eric     200  0.898927
129370  GOOD, Bob     200                 OGLES, Andy     200  0.897138
129377  GOOD, Bob     200                 SELF, Keith     200  0.897138
129259  GOOD, Bob     200            CLYDE, Andrew S.     200  0.897138
129065  GOOD, Bob     200                DUNCAN, Jeff     200  0.897138
129338  GOOD, Bob     200            HAGEMAN, Harriet     200  0.896243
129029  GOOD, Bob     200                 JORDAN, Jim     200  0.895349
129245  GOOD, Bob     200          TIFFANY, Thomas P.     200  0.893560
129139  GOOD, Bob     200            DAVIDSON, Warren     200  0.890877
129180  GOOD, Bob     200                 HERN, Kevin     200  0.890877
129283  GOOD, Bob     200             MILLER, Mary E.     200  0.889982
129315  GOOD, Bob     200                 BEAN, Aaron     200  0.889982
129363  GOOD, Bob     200                 MILLS, Cory     200  0.884615
129197  GOOD, Bob     200            FULCHER, Russell     200  0.882826
129039  GOOD, Bob     200                 POSEY, Bill     200  0.878354
129059  GOOD, Bob     200                HARRIS, Andy     200  0.876565